{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "jsx-a11y/click-events-have-key-events": false,
    "jsx-a11y/no-static-element-interactions": false
  }
}